/* Register Page styling */
.navbar {
    background-color:#045629;
    padding: 1rem;
  }
  
  .navbar-title {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .register-form-container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }
  
  .register-form {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  .form-control {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .register-btn {
    width: 100%;
    padding: 0.75rem;
    background-color:#045629;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .register-btn:hover {
    background-color: #285e8e;
  }
  
  .error-text {
    color: red;
    margin-top: 0.5rem;
  }
  
  .success-message {
    text-align: center;
    color: green;
    font-size: 1.2rem;
    margin-top: 2rem;
  }
  /* Popup Styles */
/* Popup Styles */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 9999;
    width: 300px;
    text-align: center;
  }
  
  .popup-success {
    border: 2px solid green;
  }
  
  .popup-error {
    border: 2px solid red;
  }
  
  .popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .popup-icon {
    margin-bottom: 15px;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
  }
  