.progress-page1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.progress-container-row {
  display: flex;
  gap: 20px; /* Adds space between each container */
}

.progress-item {
  width: 300px; /* Set a fixed width */
  height: 250px; /* Set a fixed height */
  padding: 20px;
  border-radius: 12px; /* Rounded corners */
  border: 2px solid green; /* Highlighted green border */
  background-color: #f0f0f0; /* Light background color */
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ui-labels {
  margin-top: 10px;
  font-size: 16px;
  color: green;
}
.registered-goals-container {
  margin-top: 20px;
  padding: 15px;
  background-color: #d7cccc; /* Optional background color */
  border-radius: 8px;
}

.registered-goals-container h2 {
  margin-bottom: 10px;
  color: #333;
}

.goal-item {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.goal-item:last-child {
  border-bottom: none;
}

.goal-value {
  font-weight: bold;
  color: #0c5330;
}

.goal-title {
  color: #7f8c8d;
  text-align: right;
}
